.mainDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #0d6efd;
}

.cardDiv {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    height: 500px;
    width: 450px;
    background-color: aliceblue;
    border-radius: 20px;
}

.imageDiv {
    margin-top: 25px;
    height: 200px;
    width: 200px;
    align-content: center;
}

.loginBtn {
    display: flex;
    justify-content: center;
    padding: 6px 100px;
    text-decoration: none;
    border-radius: 10px;
    color: aliceblue;
    background-color: #0D6EFD;
}

.signupBtn {
    margin-top: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    padding: 6px 96px;
    text-decoration: none;
    color: aliceblue;
    background-color: #0D6EFD;
}